<!DOCTYPE html>

<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <title>Sample Application</title>

	<script language="javascript">
	  function loginIDCS(){
		alert('Logging in with Oracle Identity Cloud Service credentials!');
	  }

	  function doLogin(){
		alert('Logging in to the Sample Application!');
		window.location='home.html';
	  }
	</script>

</head>

<body>

    <table>
        <tr>
            <td>To log in using Oracle Identity Cloud Service,<br> click below:&nbsp;</td>
        </tr>
        <tr>
            <td align="center"><a href="/auth">Log In</a>
            </td>
        </tr>
    </table>

</body>

</html>